@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #e6e7e8;
}

header nav {
    height: 70px;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 5px #555;
}